---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h5 class="post-list-heading" style="text-align: center;">Click on any image to learn more</h5>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="list-grid">
        <a class="post-link" href="{{ post.linkurl | relative_url }}">
          <div class="post-container">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <div class="post-img-container">
              <img src="https://images.weserv.nl/?url={{ site.url }}{{ post.image }}&w=800&h=800&output=jpg&q=65" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
              <div class="img-overlay">
                <span>{{ post.title }}</span>
              </div>
            </div>
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
